<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-login.css">
    <script type="module" src="JS-login.js"></script>
    <script type="module" src="JS.js"></script>
    <title>Login</title>
</head>
<body style="background-image: url('SGD-background-neon.jpg');">
    <div id="header-div" style="position: fixed;">
        <header>
            Faça Login para acessar o Sistema
        </header>
        <nav>
            <button id="btn-home"><a href="index.html"> HOME </a></button>
            <button id="sobre-btn"><a href="sobre.html"> Sobre </a>  </button>
        </nav>
    </div>
    <div id="content-div">
        <form method="get" id="form-login">
            <label for="user"> Usuário </label>
            <input type="text" name="user" class="input" id="user" placeholder="Digite o seu usuário...">

            <label for="password"> Senha </label>
            <input type="password" name="password" class="input" id="password" placeholder="Digite a sua senha...">
            
            <button type="submit" onclick="submitLogin()"> LOGIN </button>
        </form>
    </div>
</body>
</html>